:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #4B82B3;
    --bg-secondary: #5d7e9c;
    --transition-speed: 600ms;
  }

.home{
  margin-top: 0px;
}

.name1{
  margin-top: 10rem;  
  font-size: 2rem;
  color: white;
}

/* name scrolling animation */
.scroller{
  margin-left: 0.2rem;
  z-index: 0;
  margin-top: -1rem;
  font-size: 3rem;
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 6em;
}

.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 6s infinite;
  font-weight: bold;  
}

/* animation range */
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
}

body{
    margin: 0;
    padding: 0;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}


.desc1{
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-bottom: 19rem;
}

.about{
  font-size: 1.2rem;
  margin-left: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
}

/* nav bar base clour and shape */
.navbar {
    z-index: 99;
    position: fixed;
    background-color:#2B4A66;
    transition: width 600ms ease;
    overflow: hidden;
  }
   
  /* navbar grid shape content */
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }

  /* home page icon animation */
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background:#4B82B3;
    color: #F0F8FF;
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: aliceblue;
    background: var(--bg-secondary);
    font-size: 1.5rem;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }

  /* navbar rotate animation */
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-360deg);;
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text{
      left: 0px;
    }
    .container {
      width: min(90%, 70rem);
      margin: 0 auto;
    }

    .container span {
      color: hsl(0, 1%, 28%);
      font-size: .9em;
      font-weight: 500;
    }
    
    .bg-dark {
      background-color: var(--clr-primary-600);
      color: var(--clr-neutral-100);
    }
    
    .bg-light {
      background-color: rgba(238, 238, 238, 0.911);
    }
    
    .flow-content > * + * {
      margin-top: 1rem;
      font-family: Arial, Helvetica, sans-serif ;
      font-size: 1rem;
    }
    
    .split {
      display: flex;
      flex-direction: column;
    }
    
    .split > * + * {
      margin: 1em 0 0 0;
    }
    @media (min-width: 50em) {
      .split {
        flex-direction: row;
      }
    
      .split > * {
        flex-shrink: 1;
        flex-basis: 100%;
      }
    
      .split > * + * {
        margin: 0 0 0 2em;
      }
    
      .big-column {
        flex-basis: 250%;
      }
    }
    
    /* components */
    
    .widgets {
      display: flex;
      flex-wrap: wrap;
    }
    
    .widget {
      padding: 1em;
      flex: 1 1 200px;
    }
    
    .pending{
      text-align: center;
      width: 11rem;
      /* max-width: 12rem;
      max-height: 12rem;
       */
    }


    footer {
      margin-top: -30px;
      background-color: black;
      margin-bottom: -100px;
    }

    footer p{
      font-size: 2rem;
      color: aliceblue;
      text-align: center;
    }
  }
